<div th:fragment="navigation">
    <nav class="navbar navbar-light" style="background-color: #5da1c4;">
        <div>
            <a href="#" class="navbar-brand" style="color: white;"> TP3 - EL ACHHAB Hamza </a>
        </div>

        <ul class="navbar-nav" style="display: flex; flex-direction: row !important;">
            <li style="list-style-type: none;"><a th:href="@{/adresses}"
                   class="nav-link" style="color: white;margin:4px;">Home </a></li>
            <li style="list-style-type: none;"><a th:href="@{/addresse}"
                   class="nav-link" style="color: white;margin:4px;">Ajouter adresse </a></li>
        </ul>

    </nav>
</div>


