<html>
<head>
    <title>EL ACHHAB Hamza</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
            integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
</head>
<body>

<header>
    <div th:insert="fragments/navigation :: navigation"></div>
</header>
<br>

<div class="row">
    <div class="container">
        <h3 class="text-center">Liste des adresses</h3>
        <hr>
        <br>
        <table id="example" class="display">
            <thead>
            <tr>
                <th>ID</th>
                <th>Creation</th>
                <th>Content</th>
                <th>Auteur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="address:${allAddresses}">
                <td th:text="${address.id}"></td>
                <td th:text="${address.creation }"></td>

                <td th:text="${address.content }"></td>
                <td th:text="${address.auteur }"></td>
                <td>
                    <a class="btn btn-warning" th:href="@{/edit(id=${address.id})}">Editer</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-danger" th:href="@{/delete(id=${address.id})}">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script type="text/javascript">

    $(document).ready(function () {
        $('#example').DataTable(

        );
    });
</script>
</html>